/*       Global Resets         */

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input {
	margin: 0; 
	padding: 0; 
}
fieldset,homepage { 
	border: none; 
}
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
}

:focus {
	outline: 0;
}

sub, sup {
	font-size: 8px;
	line-height: 0;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Homepage */

body {
	background: #6BBCF0 url(homepage/bg.png) bottom left repeat-x;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#viewport {
	width: 100%;
	height: 100%;
	position: relative;
}
#clouds-near, #clouds-far {
	position: absolute;
	top: 15%;
	left: 0px;
	width: 100%;
	height: 100%;
}
#clouds-far {
	background:url(homepage/clouds-far.png) repeat-x;
	z-index: 10;
	top: 12%;
}
#clouds-near {
	background:url(homepage/clouds-near.png) repeat-x;
	z-index: 20;
}
#land {
	position: absolute;
	width: 100%;
	height: 92px;
	left:0px;
	bottom: -14px;
	background:url(homepage/land.png) repeat-x;
	z-index: 15;
}
#sitelet {
	position: absolute;
	z-index: 100;
	width: 633px;
	height: 250px;
	background: url(homepage/sitelet.png) no-repeat;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -316px;
	font-size: 14px;
	color: #434343;
}
#sitelet #logo {
	width: 225px;
	height: 233px;
	float: left;
	padding: 17px 0px 0px 20px;
}
#sitelet #content {
	float: left;
	width: 373px;
	height: 250px;
}
#sitelet h2 {
background:transparent url(homepage/pq_mantra.png) repeat scroll 0 0;
font-family:Georgia;
height:43px;
margin:45px 0 0 16px;
text-indent:-9999px;
width:295px;
}
#sitelet form {
	margin: 24px 0px 0px 18px;
}
#sitelet form input {
	background:url(homepage/input.gif) no-repeat;
	display: block;
	width: 329px;
	height: 41px;
	border: none;
	margin: 10px 0 0 -2px;
	padding: 7px 10px 0;
	font-size: 24px;
}
#sitelet form input.focus {
	background-position: 0px -48px;
}
#flyer {
	width: 60px;
	height: 45px;
	background: url(homepage/plane.png) no-repeat;
	position: absolute;
	top: 16%;
	left: 0%;
	z-index: 5;
}
