
/* =========== */
/* = Frame = */
/* =========== */






div.quiz_frame_header{
background:#FFFFFF none repeat scroll 0 0;
border-color:#E0E0E0;
border-style:solid;
border-width:3px 1px;
height:50px;
margin-top:5px;
overflow:hidden;
width:101%;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}




body.frame_body{
background-attachment:scroll;
background-color:#EDF2F8;
background-image:none;
background-position:0 0;
background-repeat:repeat;
}

div.quiz_frame_logo{
float:left;
position:absolute;
}

div#ocw{
margin:8px 0 0 5px;
}

div#knol{
margin:2px 0 0 5px;
}
div#pq{
margin:0px 0 0 27px;
}



div.quiz_frame_source{
font-size:0.7em;
height:50px;
left:280px;
position:absolute;
margin-top:5px;
}



div.quiz_frame_content{
border:5px solid #DDDDDD;
height:200px;
margin-top:10px;
padding:10px;
background:#ffffff none repeat scroll 0 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}


div.quiz_frame_title{
font-family: "Georgia", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
font-size:1.3em;
position: absolute; 

text-align:center;

top:110px;
width:500px;
}



/* =========== */
/* = Quiz Items = */
/* =========== */



.focus{
margin: 10px 0px;
background:#FFF8E2 none repeat scroll 0 0;
/* border-bottom:2px solid #E3D922; */
text-align:center;
}

span.blank{
background:#FFFFD1 none repeat scroll 0 0;
border:1px solid #E2C922;
font-weight:bold;
margin:0 5px;
}



div.quiz_intro_title{
font-family: "Georgia", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
font-size:1.3em;
position: absolute; 

text-align:center;

top:110px;
width:305px;
}


div.quiz_frame_text{
font-family: "Georgia", "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Verdana, Helvetica, sans-serif;
left:66px;
margin-top:20px;
position:absolute;
top:130px;
width:400px;
text-align:center;
overflow:hidden;
line-height:1.5em;
}


/* =========== */
/* = Intro = */
/* =========== */





div.quiz_intro_text{
font-family:"Georgia","Lucida Grande","Lucida Sans Unicode","Trebuchet MS",Verdana,Helvetica,sans-serif;
line-height:1.5em;
margin-left:-5px;
margin-top:20px;
overflow:hidden;
position:absolute;
text-align:center;
width:300px;
top:80px;
}

p.quiz_distributor{
font-size:.8em;
}



div.quiz_selection{
float:left;
height:110px;
margin:2px 0 20px 0;
width:265px;
-moz-border-bottom-colors:  #777 #888 #999 #aaa #bbb #ccc;
-moz-border-top-colors:     #777 #888 #999 #aaa #bbb #ccc;
-moz-border-left-colors:    #777 #888 #999 #aaa #bbb #ccc;
-moz-border-right-colors:   #777 #888 #999 #aaa #bbb #ccc;
border:10px solid #DDDDDD;
padding:5px;
background:#EEEAF8 none repeat scroll 0 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}



div.quiz_image{

height:105px;
margin-top:5px;
overflow:hidden;
width:100px;
float:left;
}

div.quiz_description{
background:#A1A0C0 none repeat scroll 0 0;
border:1px dotted #CDCDCD;
color:#EAF2F8;
height:100px;
margin-left:110px;
overflow:hidden;
padding:5px;
text-align:center;
width:140px;
margin-top: -2px;
}


div.hover_example{
margin-right:-2px;
overflow:hidden;
padding:5px;
text-align:center;
width:140px;
margin-top: -2px;
margin-left:0px;
 height:120px; 
 width:140px;
  float:right;
}



div.quiz_description_title{
font-size:0.9em;
font-variant:small-caps;
font-weight:bold;
line-height:1.2em;
margin:0 0 6px 0;
text-shadow:2px 2px 2px #000000;
width:103%;
}


div.quiz_description_text{
font-size:0.8em;
font-variant:small-caps;
line-height:1.2em;
width:103%;

}




/* =========== */
/* = Score = */
/* =========== */


.score_result{
-moz-border-bottom-colors:#EDF2F8 #FFFFFF;
-moz-border-left-colors:#DDDDDD;
-moz-border-radius-bottomleft:12px;
-moz-border-radius-bottomright:12px;
-moz-border-radius-topleft:12px;
-moz-border-radius-topright:12px;
-moz-border-right-colors:#DDDDDD;
-moz-border-top-colors:#EDF2F8 #FFFFFF;
background:white none repeat scroll 0 0;
border-color:#DDDDDD;
border-style:solid;
border-width:12px 8px;
float:left;
height:170px;
margin-left:4px;
overflow:hidden;
width:300px;
-webkit-border-radius: 12px;
}

.aceometer{
float:left;
margin-left:-5px;

}

div.quiz_icon{
float:right;
margin-right:15px;
}
div.score_text{
font-size:1.3em;
font-variant:small-caps;
margin:120px 0 0 22px;
width:240px;
}
