  p { margin-left: 10px;}
        #seconds-box,#minutes-box,#hours-box,#days-box {
   height: 30px;
   background: #eee;
   border: 1px solid #ccc;
   margin-top:30px;
width:622px;
        }

  #seconds-outer,#minutes-outer,#hours-outer,#days-outer {
   margin: 8px 10px 10px 0px;
   width: 200px;
   height: 9px;
   border: 1px solid #aaa;
   background: #f3f3f3;
  }
  
  #seconds-inner,#minutes-inner,#hours-inner,#days-inner {
   height: 100%;
   background: #c00;
   margin-top:-5px;
width:615px;
  }

        #seconds-count,#minutes-count,#hours-count,#days-count {
            float: left;
            font-size: 0.9em;
            margin-left: -200px;
            margin-top: 0px;
          
        }
