<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Plop Quiz</title>
<link rel="stylesheet" type="text/css" charset="utf-8" href="/static/stylesheets/homepage.css" />
<!--[if lte IE 6]>
<link href="ie6styles.css" rel="stylesheet" type="text/css" />
<![endif]-->
<style type="text/css">
#land, #clouds-far, #clouds-near {
	background-position: 0px 0px;
}
</style>

<script type="text/javascript" src="/static/scripts/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/static/scripts/parallax.js"></script>
<script type="text/javascript" src="/static/scripts/homepage.js"></script>
<script type="text/javascript" src="/static/scripts/json2min.js"></script>




</head>

<body>
<div id="viewport">
    <div class="mid layer">
    	<div id="clouds-far"></div>
	</div>
	<div class="far layer">
    	<div id="land"></div>
    </div>
    <div class="near layer">

		<div id="clouds-near"></div>
    </div>
</div>
<div id="sitelet">
	<div id="logo">
    	<img src="/static/stylesheets/homepage/pq_logo.png" alt="" />
    </div>
    <div id="content">
        <h2>Plopquiz is currently in closed beta testing.</h2>

        <form action"#" id="signup">
            <input type="text" class="text" name="email" value="early@bird.com" id="email" />
        	<div id="success"> You've been added to our list. </div>
            <input type="button" class="button" value="Sign me up"/>
        </form>
    </div>
</div>
<div id="cutoff">
	<div id="flyer">
</div>
</div>
</body>
</html>
