<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizframe.css"/>





<title>Plopquiz Instructions </title></head>

<body class="frame_body">
<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq">
<img src="/static/html/img/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" style="height:220px;">





<div class="quiz_intro_text" >

<p class="quiz_distributor"><b>Instructions</b></p>


<div class="quiz_selection" style="height:138px; background: #EDF2F8 none repeat scroll 0 0;">




<div class="hover_example" style="font-size:.9em; line-height:1.5em">



<div class="focus" style="margin-top:5px;"> In
<span class="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
<br/>

</div>
fixed point computations are used for whole program analysis


</div>




<div class="quiz_description" style="margin-left:0px; height:130px; width:100px; float:left; ">


<div class="quiz_description_text" id="example_1" >  <br/> Speed improves your score.<br/><br/>Try submitting your answer before the timer runs out. </div>

<div class="quiz_description_text" id="example_3" style="display: none;">  <br/> Not fast enough. <br/><br/> Hurry! Click one of the blue buttons below.</div>


<div class="quiz_description_text" id="example_2" style="display: none; margin-top:-10px" >  <br/> Skipping items is better than submitting a wrong answer.<br/><br/> Click the pink Skip button.</div>





</div>





</div>




</div>




</body></html>
