<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizframe.css"/>





<title>Plopquiz Instructions </title></head>

<body class="frame_body">
<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq">
<img src="/static/html/img/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" style="height:220px;">





<div class="quiz_intro_text" >

<p class="quiz_distributor"><b>Instructions</b></p> 


<div class="quiz_selection" style="height:138px; background: #EDF2F8 none repeat scroll 0 0;">




<div class="hover_example" >

I'd be at school today but <div class="focus" style="margin-top:5px;"> the
<span class="blank">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
<br/>
 my quiz.
</div>


</div>




<div class="quiz_description" style="margin-left:0px; height:130px; width:100px; float:left; ">

<div class="quiz_description_text" id="example_1" >  <br/> Try hovering over the items below to preview your choice for the fill-in-the-blank. </div>


<div class="quiz_description_text" id="example_2" style="display: none;" >  <br/> Easy, right? <br/><br/> Try clicking one of the items to submit your answer. </div>



</div>





</div>




</div>




</body></html>
