<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizframe.css"/>





<title>Quiz Item - Python Knol </title></head>

<body class="frame_body">
<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq">
<img src="/static/html/img/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" style="height:180px;">

<!--<div class="quiz_intro_title" ><b>Instructions</b></div>-->



<div class="quiz_intro_text" style="top:90px;">

<b>Plopquiz, Inc.</b> would like to assess your proficiency in:


<div class="quiz_selection">

<div class="quiz_image"><img src="/static/html/img/phone_interview.png"/></div>

<div class="quiz_description"><p>My Text</p>
</div>

</div>



<!--

Co-Founder Skills

Score a phone interview with the Plopquiz team.



</div>


</div>

</body></html>
