<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizframe.css"/>





<title>Plopquiz Intro </title></head>

<body class="frame_body">
<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq">
<img src="/static/html/img/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" style="height:180px;">

<!--<div class="quiz_intro_title" ><b>Instructions</b></div>-->



<div class="quiz_intro_text" >

<p class="quiz_distributor"><b>Plopquiz, Inc.</b> has offered you a 60-second proficiency assessment:</p> 


<div class="quiz_selection">

<div class="quiz_image"><img src="/static/html/img/phone_interview.png"/></div>

<div class="quiz_description">

<div class="quiz_description_title">The Co-Founder Quiz <!--(aka "THE FAIL")--></div>

<div class="quiz_description_text">Earn a phone interview with the Plopquiz team. </div>
</div>

</div>




</div>




</body></html>
