






{% block main %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/score.css"/>

</head>
<body>





{% ifequal totalitems 0 %}

<h2> You don't have any points. <br/><br/><div class="bluebackground"><a href="/">Start scoring some.</a></div> </h2>

{% else %}

<div class='percentile'>
<div class="percentile_image"> 
<img src="http://chart.apis.google.com/chart?chs=280x115&cht=gom&chd=t:{{ percentage }}&chl={{ percentage }}%%20Percentile|%20Answers">
</div></div>



<h2 style="font-size:2em;">Your  highscore: <span style="font-size:2em;">{% for score in highscore %}{{score.highscore}}{% endfor %}</span></h2><h2>You've gotten {{ totalscore }} out of {{ totalitems }} answers correct
</h2>



<div class="item_scores">
</div>


<div class="item_scores">

{% for grade in scores %}<div class="answer">


<blockquote>

You
{% ifequal grade.score "incorrect" %}

<span class="incorrect">
{{ grade.score|escape }}ly
</span>
{% else %}
<span class="correct">
{{ grade.score|escape }}ly
</span>
{% endifequal %}

chose



</blockquote>

<div>
<a class="round"><span><h5>{{ grade.picked_answer|escape }}</h5></span></a>
</div>

{% ifequal grade.score "incorrect" %}

<blockquote>  instead of  </blockquote>

<div>
<a class="round"><span><h5>{{ grade.real_answer|escape }}</h5></span></a>
</div>

{% endifequal %}

</div>{% endfor %}

</div> 

{% endifequal %} 



</body>

{% endblock main %}
