






<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/score.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizframe.css"/>
<title>Plopquiz Score Report </title>
</head>


<body class="frame_body">
<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq" style="margin-left:57px;">
<img src="/static/html/img/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" style="height:280px;">





<div class="quiz_intro_text" style="width:370px;">

<p class="quiz_distributor"><b>Score Report</b></p> 


<div class="quiz_selection" style="height:235px; background: #EDF2F8 none repeat scroll 0 0; width: 325px;">



<div class="score_result">

<div class="quiz_icon">
<img src="/static/html/img/phone_interview.png" />
</div>
<div class="aceometer">
<img  src="http://chart.apis.google.com/chart?chs=170x95&cht=gom&chd=t:{{ percentage }}&chl={{ percentage }}%%20|%20Answers">
</div>

<div class="score_text">
{% if passed  %}
You have won! Yay for you!
{% else %}
You cannot fail until you give up.
{% endif %}
</div>


</div>



<!--
<div class="quiz_description" style="margin-left:0px; height:130px; width:100px; float:left; ">

<div class="quiz_description_text" id="example_1" style="display: none;">  <br/> Try hovering over the items below to preview your choice for the fill-in-the-blank. </div>


<div class="quiz_description_text" id="example_2"  >  <br/> Easy, right? <br/><br/> Try clicking one of the items to submit your answer. </div>


</div>

-->




</div>




</div>




</body></html>
