






<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">

<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/score.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizframe.css"/>
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quiz.css"/>
<title>Plopquiz Score Report </title>

<script type="text/javascript" src="/static/scripts/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/static/scripts/homepage.js"></script>
<script type="text/javascript" src="/static/scripts/json2min.js"></script>
</head>


<body class="frame_body">
<div class="quiz_frame_header" style="height:65px;">

<div class="quiz_frame_logo" id="pq" style="margin-left:57px;">
<img src="/static/html/img/pq_logo_h_small.png"/>
</div>

</div>


<div class="quiz_frame_content" style="height:294px;">





<div class="quiz_intro_text" style="width:370px; margin-top:10px">

<p class="quiz_distributor"><b>Score Report</b></p> 


<div class="quiz_selection" style="height:245px; background: #EDF2F8 none repeat scroll 0 0; width: 325px;">



<div class="score_result">


<div class="quiz_icon"  id="full_icon" style="margin-left: -97px;">
<img src="/static/html/img/phone_interview.png" /></div>

<div class="quiz_icon" id="empty_icon" style="height: 0px;">
<img src="/static/html/img/phone_interview_empty.png"  />
</div>

<div class="aceometer">
<img  src="http://chart.apis.google.com/chart?chs=190x108&cht=gom&chd=t:{{ percentage }}&chl={{ percentage }}%%20|%20Answers">
</div>

<div class="score_text">
{% if passed  %}
Impressive Score.
{% else %}
Thanks For Your Time
{% endif %}
</div>




        <form action"#" id="signup" name="signup" style="font-size:.8em;">
        
        Leave us your e-mail  so we can get in touch. 
        	
        	<div id="add_success" style="display:none;"> You've been added to our list. </div>
        	
            <input  type="text" name="email" value="early@bird.com" id="email" onFocus="if (this.value == this.defaultValue) { this.value = ''; }"  style="margin: 20px 0px 0px -140px;" />
            <a id="continue" onclick="ListAdd(signup.email.value);" class="answer" href="#"><table cellspacing="0" cellpadding="0" border="0" ><tr><td id="quiz_pink_left"></td><td id="quiz_pink_main" style="padding:0px;"><div class="arrow" style="margin-bottom:-3px;"><img src="/static/stylesheets/img/pinkarrow.png" /></div><div class="skipitem" id="skiptext"></div></td><td id="quiz_pink_right"></td></tr></table></a>
           
   </form>


</div>


</div>



<!--
<div class="quiz_description" style="margin-left:0px; height:130px; width:100px; float:left; ">

<div class="quiz_description_text" id="example_1" style="display: none;">  <br/> Try hovering over the items below to preview your choice for the fill-in-the-blank. </div>


<div class="quiz_description_text" id="example_2"  >  <br/> Easy, right? <br/><br/> Try clicking one of the items to submit your answer. </div>


</div>

-->




</div>




</div>



<script>

empty_height = 100 - {{ percentage }} + 'px';

console.log(empty_height);

empty = document.getElementById('empty_icon');

empty.style.height = empty_height;



</script>

</body></html>
