<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


  
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <!-- DEFAULT COLORS -->
  <meta name="color:Background" content="#fff"/>
  <meta name="color:Title" content="#222"/>
  <meta name="color:Description" content="#999"/>
  <meta name="color:Text" content="#404040"/>
  <meta name="color:Link" content="#c03030"/>

  <meta name="color:Date Border" content="#cccccc"/>
  <meta name="color:Post Footer" content="#999999"/>
  <!-- END DEFAULT COLORS -->
  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://jamtoday.beehold.us/rss"/>
  <title>Jam Today? - The Living Is Easy</title>
  <link rel="icon" href="http://data.tumblr.com/avatar_4e086579b3bb_16.gif"/>

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script> use in production -->
<script type="text/javascript" src="/static/scripts/jquery-1.2.6.min.js"></script>

  

  <link rel="stylesheet" type="text/css" href="/static/beehold/style.css"></link>  
  <!-- <script src="/static/beehold/clean_tumblr_pre.js"></script>  -->



<!--[if !IE]>--> 

<script type="text/javascript" src="/static/beehold/ui.slider.js"></script>



<link rel="stylesheet" type="text/css" href="/static/beehold/shadowbox.css" />

<script type="text/javascript" src="/static/beehold/shadowbox-jquery.js"></script>
<script type="text/javascript" src="/static/beehold/shadowbox.js"></script>

  
<script type="text/javascript" src="/static/beehold/shadowbox_init.js"></script> 

<script type="text/javascript" src="/static/beehold/scroll/jquery.serialScroll-min.js"></script>
<script type="text/javascript" src="/static/beehold/scroll/jquery.scrollTo-min.js"></script> 
 <script type="text/javascript" src="/static/beehold/scroll/sidebar.js"></script>   

                  <!-- iPhone -->
  <meta name="viewport" content="width=675"/>
  <link rel="apple-touch-icon" href="http://data.tumblr.com/avatar_4e086579b3bb_128.gif"/>  <!--<![endif]--> 
  
  
  
      <link rel="stylesheet" href="/static/beehold/styleblue.css" type="text/css" media="all" />  
      



</head>

<body>





<div id="rap">




<div id="masthead"></div>
  
  <div id="main">
  <div id="contain">     
      <div id="content">

       <div class="logo"><a href="http://jamtoday.beehold.us" style="font-size: 1.2em;"> <span style="font-size: 1.3em;">&nbsp;j</span><span style="font-size: .9em;">a</span><span style="font-size: 1em;">m </span><span style="font-size: 1.2em;">t</span>o<span style="font-size: .9em;">d</span>a<span style="font-size: 1.1em;">y</span><span style="font-size: 1.8em;">?</span>   </a></div> 
          <div id="meta"> 

          <li id="rss"> 
          <a rel="shadowbox[Mixed]; options={counterType:'skip',overlayColor: '##005B8B', overlayOpacity: .6, continuous:true}; height=2500;width=950;" title="about" alt="http://beehold.us/james/" href="http://beehold.us/james"><span style="font-size: 1.1em;">a</span><span style="font-size: 1em;">b<span style="font-size: .9em;">o</span>u</span><span style="font-size: 1.1em;">t </span>

          </a>
          
          <a rel="shadowbox[Mixed];options={counterType:'skip',overlayColor: '##005B8B', overlayOpacity: .6, continuous:true}; width=500;height=349;" title="about" href="http://www.beehold.us/beehold/img/pie.jpg">
</a></li><a rel="shadowbox[Mixed];options={counterType:'skip',overlayColor: '##005B8B', overlayOpacity: .6, continuous:true}; width=500;height=349;" title="about" href="http://www.beehold.us/beehold/img/pie.jpg"> /
          </a><li id="archive"><a href="/archive">a<span style="font-size: 1.1em;">r</span><span style="font-size: 1em;">c<span style="font-size: .9em;">h</span>i</span><span style="font-size: 1.1em;">v</span>e</a></li></ul>
       <div id="posts" class="autopagerize_page_element">

        
     
        <div class="post">
        
         <div class="postop"> <div class="pheadfill">&nbsp;</div></div>
 
  <div class="storycontent" id="logocontent"> <div class="thecontent" id="thelogo">
      <div class="logopic">
      <img align="left" src="http://www.beehold.us/beehold/img//cloudmirror.png"/></div><br/><br/><br/><br/><br/><br/><br/>
      </div>
      </div></div></div></div>
      
      
  
  <!--Begin Content-->

 <div id="posts" class="autopagerize_page_element">


  
  
        
        
        <div class="post">
        
         <div class="postop"> <div class="pheadfill">&nbsp;</div></div>
 
  <div class="storycontent"> <div class="thecontent">
  
          
         <!-- <div class="date">
            <span class="month">Jul</span>
            <span class="day">4</span>
          </div> -->
       <!---->
          <!---->


          
           
          <div class="regular">
           <h1> <a href="http://jamtoday.beehold.us/post/41000479/the-living-is-easy" >The Living Is Easy</a></h1>
            <p><a href="http://thebrain.mcgill.ca/flash/a/a_07/a_07_cl/a_07_cl_tra/a_07_cl_tra.html" target="_blank">This page about the Brain</a> has several levels of explanation. As in, you can choose to read the novice, intermediate, or expert version.</p>

<p>Of course, this feature is as old as the educational video game industry.</p>

<p>But what if, like any other microformat, difficulty levels were to be standardized, such as in my new favorite software of the moment: <a href="http://referata.com/wiki/Main_Page" target="_blank">Ontological MediaWiki</a>. Too bad I can&#8217;t find any semantic markup for describing levels of discourse.</p>

<p>Something like this would be tres cool:</p>

<p><br/></p>

<pre>

 &lt;living difficulty="easy"&gt; 
     Summertime 

&lt;/living&gt;
</pre>

<p><br/></p>

<p>I wonder what would happen if this additional format were to be widely introduced to ontologies&#8230;</p>
          </div>
          <div class="post-footer">
            <span class="when"> <a href="http://jamtoday.beehold.us/post/41000479/the-living-is-easy" >&#8734;</a> 1 month ago</span>

            </div> 
          

          

          
        
          
          

          
          

          
        
          
          
            
          <a href="http://jamtoday.beehold.us/post/41000479/the-living-is-easy#disqus_thread"><div style="font-size: 10px; font-weight: normal; text-align: right; float:right;">Comments</div></a>
         
          </div><!--End thecontent-->
          
<br/>
        
        </div><!--End Storycontent-->
        </div><!--End Single Post-->
          
        <img src='/static/beehold/img/stem.jpg' class='stem' />  <div class="avatar" ><img src='http://data.tumblr.com/avatar_4e086579b3bb_30.gif' /></div> <br/>
        <br />

       



        
        




<script type="text/javascript">var disqus_url = "http://jamtoday.beehold.us/post/41000479/the-living-is-easy"; var disqus_title ="The Living Is Easy";</script>


<!-- Uncomment in production

<div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/jamtoday/embed.js"></script>


<script type="text/javascript">
//<[CDATA[
(function() {
        links = document.getElementsByTagName('a');
        query = '?';
        for(var i = 0; i < links.length; i++) {
            if(links[i].href.indexOf('#disqus_thread') >= 0) {
                query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
            }
        }
        
    })();
//]]>
</script>


-->

        </div><!--End Posts-->
        
        

  <!--End Content-->

        
        
        <div id="prev-next" class="prev-next">

          
          <!--Page 1 of 1-->
          
        </div>
        
       
      </div> <!-- end content div -->
<!--[if !IE]>--> 

<!--- !sidebar --->

<div id="sidebar">
 <!-- sidebar first -->
 
          <div id="content" class="sidebar_content">


       <div id="sideposts" class="autopagerize_page_element">

          <div style="padding-bottom: 0px;" class="post">
        
         <div class="postop"> <div style="padding: 10px;" class="pheadfill"> </div></div>
 
  <div id="side_storycontent" class="storycontent"><ul> 

<div class="thecontent" id="thesidecontent"> 



<li> 
<br/>
<div class="sideitem"> 

<script type="text/javascript" charset="utf-8" src="/static/scripts/display.js"></script>

<script type="text/javascript" charset="utf-8">var w='237';var h='177';if (typeof snaptalent != 'undefined') { var i = '35399f3c1ab9acc09412d55b3a45cdcc647bcb9e'; snaptalent.d(i,'x','x'); }</script>

</div>
</li>

        
       


      </div>  









</ul>   </div></div>
 <img src='/static/beehold/img/stem.jpg' class='stem' id="sidestem" />
</div></div>

<!--<![endif]--> 

    </div>
    </div></div>



                   

<!-- BEGIN ANALYTICS CODE
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var woopra_id = '2018430804';
</script>
<script src="http://static.woopra.com/js/woopra.js"></script>

<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4418963-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
 END ANALYTICS CODE --></body>

</html>
