<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="/static/stylesheets/quizframe.css"/>

<title>Recitation Section 13 Answer Key  Biogeochemical Cycles—Carbon and Energy Metabolism </title></head>
<body link="blue" bgcolor="#ffffff" vlink="blue">





<div style="position: absolute; top: 191px; left: 31px;"><nobr>MIT Department of Biology </nobr></div>
<div style="position: absolute; top: 215px; left: 31px;"><nobr>7.014 Introductory Biology, Spring 2005 </nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 18px; font-family: Times;">
<div style="position: absolute; top: 266px; left: 540px;"><nobr>Recitation Section 13 Answer Key </nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 290px; left: 693px;"><nobr>March 28-29, 2005 </nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 18px; font-family: Times;">
<div style="position: absolute; top: 332px; left: 202px;"><nobr><b>Biogeochemical Cycles—Carbon and Energy Metabolism </b></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 376px; left: 86px;"><nobr><b>A.  Carbon and Energy Options </b></nobr></div>
<div style="position: absolute; top: 417px; left: 113px;"><nobr>1.	 What two things are required by every organism for growth? </nobr></div>
<div style="position: absolute; top: 438px; left: 113px;"><nobr><i>A source of organic carbon and a source of electrons. Energy is also required. Synthesizers get </i></nobr></div>
<div style="position: absolute; top: 459px; left: 113px;"><nobr><i>their energy input from the sun or thermal energy. <span class="focus"> <span class="blank">

&nbsp;
</span> get energy from organic carbon.</span> </i></nobr></div>
<div style="position: absolute; top: 500px; left: 113px;"><nobr>2.	 With respect to how organisms acquire organic carbon, we classify them into two groups. What </nobr></div>
<div style="position: absolute; top: 521px; left: 140px;"><nobr>are those groups? </nobr></div>
<div style="position: absolute; top: 542px; left: 113px;"><nobr><i>With respect to how organisms acquire organic carbon, we classify the organisms into auto- and </i></nobr></div>
<div style="position: absolute; top: 562px; left: 113px;"><nobr><i>heterotrophs. Autotrophs synthesize organic carbon from CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 569px; left: 556px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 562px; left: 566px;"><nobr><i>and heterotrophs must consume </i></nobr></div>
<div style="position: absolute; top: 583px; left: 113px;"><nobr><i>sources of organic carbon. </i></nobr></div>
<div style="position: absolute; top: 624px; left: 113px;"><nobr>3.	 What metabolic process is common to all organisms? What is the result of this process? </nobr></div>
<div style="position: absolute; top: 645px; left: 113px;"><nobr><i>Glucolysis is common to all organisms. It breaks down glucose into pyruvate and extracts 2 </i>
</nobr></div>
<div style="position: absolute; top: 666px; left: 113px;"><nobr><i>molecules of ATP. </i>
</nobr></div>
<div style="position: absolute; top: 707px; left: 113px;"><nobr>4.	 In addition to the process in 3, autotrophs also perform another function. What is it? </nobr></div>
<div style="position: absolute; top: 728px; left: 113px;"><nobr><i>Autotrophs also synthesize organic carbon (glucose) from the CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 734px; left: 587px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 728px; left: 598px;"><nobr><i>in the air.  </i></nobr></div>
<div style="position: absolute; top: 769px; left: 113px;"><nobr>5.	 Fill in the table below with the various options for life we have encountered in 7.014. You need </nobr></div>
<div style="position: absolute; top: 790px; left: 140px;"><nobr>to indicate conditions and resulting processes, as well as the sources of carbon and electrons for </nobr></div>
<div style="position: absolute; top: 811px; left: 140px;"><nobr>each process. </nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 13px; font-family: Times;">
<div style="position: absolute; top: 852px; left: 288px;"><nobr><i>NADPH   NADP</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 7px; font-family: Times;">
<div style="position: absolute; top: 849px; left: 396px;"><nobr><i>+</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 891px; left: 284px;"><nobr>CO</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 897px; left: 308px;"><nobr>2 </nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 891px; left: 382px;"><nobr><i>glucose </i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 13px; font-family: Times;">
<div style="position: absolute; top: 931px; left: 306px;"><nobr><i>ATP </i></nobr></div>
<div style="position: absolute; top: 931px; left: 359px;"><nobr><i>ADP   </i></nobr></div>
<div style="position: absolute; top: 852px; left: 603px;"><nobr><i>NAD</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 7px; font-family: Times;">
<div style="position: absolute; top: 849px; left: 633px;"><nobr><i>+</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 891px; left: 558px;"><nobr><i>glucose </i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 13px; font-family: Times;">
<div style="position: absolute; top: 931px; left: 603px;"><nobr><i>ADP </i></nobr></div>
<div style="position: absolute; top: 852px; left: 658px;"><nobr><i>NADH </i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 891px; left: 680px;"><nobr><i>pyruvate </i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 13px; font-family: Times;">
<div style="position: absolute; top: 931px; left: 658px;"><nobr><i>ATP   </i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 950px; left: 203px;"><nobr><i>light </i></nobr></div>
<div style="position: absolute; top: 950px; left: 344px;"><nobr><i>no light </i></nobr></div>
<div style="position: absolute; top: 950px; left: 499px;"><nobr><i>ETC-able </i></nobr></div>
<div style="position: absolute; top: 950px; left: 675px;"><nobr><i>Non-ETC-able </i></nobr></div>
<div style="position: absolute; top: 972px; left: 142px;"><nobr><i>O</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 978px; left: 155px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 972px; left: 203px;"><nobr><i>Oxygenic </i></nobr></div>
<div style="position: absolute; top: 992px; left: 203px;"><nobr><i>photosynthesis </i></nobr></div>
<div style="position: absolute; top: 1013px; left: 202px;"><nobr><i>Carbon source— </i></nobr></div>
<div style="position: absolute; top: 1034px; left: 202px;"><nobr><i>CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1040px; left: 227px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1034px; left: 233px;"><nobr><i>; electron </i></nobr></div>
<div style="position: absolute; top: 1055px; left: 202px;"><nobr><i>source—H</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1061px; left: 280px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1055px; left: 285px;"><nobr><i>O </i></nobr></div>
<div style="position: absolute; top: 972px; left: 500px;"><nobr><i>Aerobic respiration </i></nobr></div>
<div style="position: absolute; top: 992px; left: 500px;"><nobr><i>Carbon, electron </i></nobr></div>
<div style="position: absolute; top: 1013px; left: 500px;"><nobr><i>sources-- glucose </i></nobr></div>
<div style="position: absolute; top: 1076px; left: 142px;"><nobr><i>No O</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1082px; left: 180px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1076px; left: 202px;"><nobr><i>Anoxygenic </i></nobr></div>
<div style="position: absolute; top: 1097px; left: 203px;"><nobr><i>photosynthesis </i></nobr></div>
<div style="position: absolute; top: 1117px; left: 202px;"><nobr><i>Carbon source— </i></nobr></div>
<div style="position: absolute; top: 1138px; left: 202px;"><nobr><i>CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1144px; left: 227px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1138px; left: 233px;"><nobr><i>; electron </i></nobr></div>
<div style="position: absolute; top: 1159px; left: 202px;"><nobr><i>source—H</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1165px; left: 280px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1159px; left: 286px;"><nobr><i>S </i></nobr></div>
<div style="position: absolute; top: 1076px; left: 344px;"><nobr><i>Chemosynthesis </i></nobr></div>
<div style="position: absolute; top: 1117px; left: 344px;"><nobr><i>Carbon source— </i></nobr></div>
<div style="position: absolute; top: 1138px; left: 344px;"><nobr><i>CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1144px; left: 369px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1138px; left: 375px;"><nobr><i>; electron </i></nobr></div>
<div style="position: absolute; top: 1159px; left: 344px;"><nobr><i>source—H</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1165px; left: 421px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1159px; left: 427px;"><nobr><i>S </i></nobr></div>
<div style="position: absolute; top: 1076px; left: 499px;"><nobr><i>Anaerobic </i></nobr></div>
<div style="position: absolute; top: 1097px; left: 500px;"><nobr><i>respiration </i></nobr></div>
<div style="position: absolute; top: 1117px; left: 499px;"><nobr><i>Carbon, electron </i></nobr></div>
<div style="position: absolute; top: 1138px; left: 499px;"><nobr><i>sources-- glucose </i></nobr></div>
<div style="position: absolute; top: 1076px; left: 675px;"><nobr><i>Fermentation </i></nobr></div>
<div style="position: absolute; top: 1117px; left: 675px;"><nobr><i>Carbon, electron </i></nobr></div>
<div style="position: absolute; top: 1138px; left: 675px;"><nobr><i>sources-- glucose </i></nobr></div>
<div style="position: absolute; top: 1201px; left: 113px;"><nobr><i>Note that other compounds can be used instead of H</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1207px; left: 491px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1201px; left: 497px;"><nobr><i>S. </i></nobr></div>
</span></font>

<div style="position: absolute; top: 1363px; left: 0pt;"><hr><table border="0" width="100%"><tbody><tr><td align="right" bgcolor="#eeeeee"><font face="arial,sans-serif"><a name="2"><b>Page 2</b></a></font></td></tr></tbody></table></div><font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1454px; left: 86px;"><nobr><b>B.  Problem Solving </b></nobr></div>
<div style="position: absolute; top: 1495px; left: 86px;"><nobr>As an aspiring biogeochemist, you set out on an ambitious search for previously uncharacterized </nobr></div>
<div style="position: absolute; top: 1516px; left: 86px;"><nobr>microorganisms. You go down to your local swamp and return with 3 different bacteria.  </nobr></div>
<div style="position: absolute; top: 1549px; left: 86px;"><nobr>You’re not sure what these bacteria need in order to grow, but since the swamp is pretty stinky you try </nobr></div>
<div style="position: absolute; top: 1569px; left: 86px;"><nobr>growing them under anaerobic conditions in buffered water that has CO</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1576px; left: 604px;"><nobr>2</nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1569px; left: 615px;"><nobr>and H</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1576px; left: 658px;"><nobr>2</nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1569px; left: 664px;"><nobr>S bubbled through it. </nobr></div>
<div style="position: absolute; top: 1592px; left: 86px;"><nobr>You grow the three bacterial species in both the light and in the dark and observe the following.   </nobr></div>
<div style="position: absolute; top: 1633px; left: 317px;"><nobr>species #1  species #2  species #3 </nobr></div>
<div style="position: absolute; top: 1666px; left: 257px;"><nobr>dark </nobr></div>
<div style="position: absolute; top: 1666px; left: 332px;"><nobr>grows </nobr></div>
<div style="position: absolute; top: 1666px; left: 415px;"><nobr>NO growth  NO growth </nobr></div>
<div style="position: absolute; top: 1715px; left: 256px;"><nobr>light </nobr></div>
<div style="position: absolute; top: 1715px; left: 332px;"><nobr>grows </nobr></div>
<div style="position: absolute; top: 1715px; left: 434px;"><nobr>grows </nobr></div>
<div style="position: absolute; top: 1715px; left: 517px;"><nobr>NO growth </nobr></div>
<div style="position: absolute; top: 1765px; left: 113px;"><nobr>1.	 From this data, you conclude that strain #1 is a chemosynthetic autotroph. </nobr></div>
<div style="position: absolute; top: 1806px; left: 140px;"><nobr>i) What is the source of electrons for this metabolism?  <i>H</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1813px; left: 553px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1806px; left: 559px;"><nobr><i>S </i></nobr></div>
<div style="position: absolute; top: 1849px; left: 140px;"><nobr>ii) What is the source of carbon for this metabolism? <i>CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1856px; left: 549px;"><nobr><i>2 </i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1892px; left: 113px;"><nobr>2.	 What type of metabolism does strain #2 employ to make energy? <i>Anoxygenic photosynthesis </i></nobr></div>
<div style="position: absolute; top: 1934px; left: 140px;"><nobr>i) What is the source of electrons for this metabolism? <i>H</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1941px; left: 548px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 1934px; left: 554px;"><nobr><i>S </i></nobr></div>
<div style="position: absolute; top: 1977px; left: 140px;"><nobr>ii) What is the source of carbon for this metabolism?  <i>CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 1984px; left: 554px;"><nobr><i>2 </i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 2034px; left: 113px;"><nobr>3.	 You put strain #3 <i>together </i>with strain #1 under anaerobic conditions in water that has CO</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 2041px; left: 786px;"><nobr>2</nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 2034px; left: 796px;"><nobr>and </nobr></div>
<div style="position: absolute; top: 2056px; left: 140px;"><nobr>H</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 2063px; left: 153px;"><nobr>2</nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 2056px; left: 159px;"><nobr>S bubbled through it (the same conditions as above).  Now both strain 1 and strain 3 grow in </nobr></div>
<div style="position: absolute; top: 2079px; left: 140px;"><nobr>the light and in the dark. </nobr></div>
<div style="position: absolute; top: 2120px; left: 140px;"><nobr>i) What type of metabolism used by strain #3?  <i>Anaerobic respiration</i>
</nobr></div>
<div style="position: absolute; top: 2161px; left: 140px;"><nobr>ii) In strain #3, what is the source of electrons for this metabolism?  <i>Glucose or NADH</i>
</nobr></div>
<div style="position: absolute; top: 2203px; left: 140px;"><nobr>iii) In strain #3, what is the final electron acceptor for this metabolism?  <i>S</i>
</nobr></div>
<div style="position: absolute; top: 2244px; left: 113px;"><nobr>4.	 Done with your experiment, you stop bubbling CO</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 2251px; left: 507px;"><nobr>2</nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 2244px; left: 518px;"><nobr>and H</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 2251px; left: 561px;"><nobr>2</nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 2244px; left: 567px;"><nobr>S through the water after a day of </nobr></div>
<div style="position: absolute; top: 2267px; left: 140px;"><nobr>growing  species #1 and species #3 together.  Surprisingly, both #1 and #3 continue growing </nobr></div>
<div style="position: absolute; top: 2287px; left: 140px;"><nobr>indefinitely.  Explain this observation.   </nobr></div>
<div style="position: absolute; top: 2308px; left: 113px;"><nobr><i>What strain #1 needs, CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 2315px; left: 300px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 2308px; left: 310px;"><nobr><i>and H</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 2315px; left: 355px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 2308px; left: 361px;"><nobr><i>S, is produced by strain #3. What strain #3 needs, glucose (or </i></nobr></div>
<div style="position: absolute; top: 2330px; left: 113px;"><nobr><i>fixed carbon) and S, is produced by strain #1. </i></nobr></div>
</span></font>

<div style="position: absolute; top: 2551px; left: 0pt;"><hr><table border="0" width="100%"><tbody><tr><td align="right" bgcolor="#eeeeee"><font face="arial,sans-serif"><a name="3"><b>Page 3</b></a></font></td></tr></tbody></table></div><font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 2642px; left: 86px;"><nobr>In 1640 Jan Baptista van Helmont, a Flemish physician and chemist, carried out the following </nobr></div>
<div style="position: absolute; top: 2662px; left: 86px;"><nobr>experiment about plant growth: </nobr></div>
<div style="position: absolute; top: 2704px; left: 86px;"><nobr>He took a pot of soil, and weighed the soil. He then took a willow sapling and weighed it. He planted </nobr></div>
<div style="position: absolute; top: 2724px; left: 86px;"><nobr>the sapling and watered the plant for 5 years. After that time, he weighed the willow tree and he </nobr></div>
<div style="position: absolute; top: 2745px; left: 86px;"><nobr>weighed the remaining soil. These were his observations: </nobr></div>
<div style="position: absolute; top: 2787px; left: 398px;"><nobr><b>plant </b></nobr></div>
<div style="position: absolute; top: 2787px; left: 496px;"><nobr><b>soil </b></nobr></div>
<div style="position: absolute; top: 2839px; left: 256px;"><nobr>upon planting </nobr></div>
<div style="position: absolute; top: 2839px; left: 404px;"><nobr>5 lb </nobr></div>
<div style="position: absolute; top: 2839px; left: 486px;"><nobr>200 lb </nobr></div>
<div style="position: absolute; top: 2891px; left: 262px;"><nobr>5 years later </nobr></div>
<div style="position: absolute; top: 2891px; left: 395px;"><nobr>174 lb </nobr></div>
<div style="position: absolute; top: 2943px; left: 270px;"><nobr><i>difference </i></nobr></div>
<div style="position: absolute; top: 2943px; left: 389px;"><nobr><i><b>+</b></i><b>169 lb </b></nobr></div>
<div style="position: absolute; top: 3015px; left: 113px;"><nobr>5.	 By how much do you suspect the weight of the soil decreased? Why? </nobr></div>
<div style="position: absolute; top: 3036px; left: 140px;"><nobr>90% (180 lbs) </nobr></div>
<div style="position: absolute; top: 3056px; left: 140px;"><nobr>85% (170 lbs) </nobr></div>
<div style="position: absolute; top: 3077px; left: 140px;"><nobr>50% (100 lbs) </nobr></div>
<div style="position: absolute; top: 3098px; left: 140px;"><nobr>10%  (20 lbs) </nobr></div>
<div style="position: absolute; top: 3119px; left: 140px;"><nobr>1%  (2 lbs) </nobr></div>
<div style="position: absolute; top: 3139px; left: 140px;"><nobr><i>0.1% (0.2 lbs) </i></nobr></div>
<div style="position: absolute; top: 3160px; left: 140px;"><nobr>0.01% (0.02 lbs) </nobr></div>
<div style="position: absolute; top: 3201px; left: 113px;"><nobr><i>The mass of the plant came primarily from the fixed carbon that the plant produced from CO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 3208px; left: 783px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 3201px; left: 794px;"><nobr><i>via </i></nobr></div>
<div style="position: absolute; top: 3224px; left: 113px;"><nobr><i>photosynthesis. </i></nobr></div>
<div style="position: absolute; top: 3265px; left: 113px;"><nobr>6.	 Bacteria that use O</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 3272px; left: 278px;"><nobr>2</nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 3265px; left: 288px;"><nobr>as an electron acceptor in respiration produce more ATP per molecule of </nobr></div>
<div style="position: absolute; top: 3291px; left: 140px;"><nobr>glucose than those that use NO</nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 3298px; left: 364px;"><nobr>3</nobr></div>
<div style="position: absolute; top: 3286px; left: 370px;"><nobr>-</nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 3291px; left: 378px;"><nobr>as an electron acceptor. Explain why.  </nobr></div>
<div style="position: absolute; top: 3317px; left: 113px;"><nobr><i>O</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 3324px; left: 126px;"><nobr><i>2</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 3317px; left: 137px;"><nobr><i>is a better electron acceptor than NO</i></nobr></div>
</span></font>
<font size="2" face="Times"><span style="font-size: 9px; font-family: Times;">
<div style="position: absolute; top: 3324px; left: 406px;"><nobr><i>3</i></nobr></div>
<div style="position: absolute; top: 3312px; left: 412px;"><nobr><i>-</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 3317px; left: 416px;"><nobr><i>.  As more electrons are transported, more H</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 13px; font-family: Times;">
<div style="position: absolute; top: 3314px; left: 740px;"><nobr><i>+</i></nobr></div>
</span></font>
<font size="3" face="Times"><span style="font-size: 16px; font-family: Times;">
<div style="position: absolute; top: 3317px; left: 754px;"><nobr><i>ions are </i></nobr></div>
<div style="position: absolute; top: 3339px; left: 113px;"><nobr><i>transported, and thus more ATP can be made. </i></nobr></div>
</span></font>
</div></body></html>
